
/* Options */

#options-section
{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.options button
{
  width: 35px;
  height: 35px;
  background-color: var(--button-color);
  border: 0;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.options button div
{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: invert(var(--inverse));
}

.options button:hover
{
  background-color: var(--button-color-hover);
}

.geolocate-button div
{
  background-image: url('../images/pin.svg')
}

.search-button div
{
  background-image: url('../images/search.svg')
}

.options-button div
{
  background-image: url('../images/gear.svg')
}


/* Init page */

#location-links
{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#location-links > a
{
  margin: 5px;
  text-align: center;
  padding: 10px;
  background-color: var(--button-color);
  text-decoration: none;
  color: inherit;
}

#location-links > a:hover
{
  background-color: var(--button-color-hover);
}


/* top section containing current section */

#top
{
  display: flex;
  justify-content: space-between;
}


/* current section */

#current
{
  margin-bottom: 10px;
}

.current-title
{
  font-size: 26px;
  padding-left: 30px;
  font-weight: bold;
}

.current-content
{
  display: flex;
  align-items: center;
}

.current-details
{
  display: flex;
  gap: 20px;
  font-size: 40px;
  align-items: end;
}

.current-details-line
{
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.current-datetime
{
  margin-top: 5px;
  margin-left: 10px;
}

.current-wind
{
  display: flex;
  gap: 5px;
  font-size: 20px;
}

#current .image
{
  margin: -15px 0;
  width: 100px;
}

.current-description
{
  padding-left: 20px;
  font-size: 22px;
}


/* Day of week section */

#dow-row
{
  display: flex;
  gap: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}

.dow-day
{
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

  background-color: var(--button-color);
  cursor: pointer;

  border-bottom: 4px solid var(--button-color);
}

.dow-day:hover
{
  background-color: var(--button-color-hover);
  border-bottom-color: var(--button-color-hover);
}

.dow-day-selected
{
  border-bottom-color: rgb(255, 187, 0);
}

.dow-day-selected:hover
{
  border-bottom-color: rgb(255, 187, 0);
}

.dow-title
{
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

.dow-title:lang(got-Goth)
{
  font-size: 14px;
}

.dow-lower
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dow-temp
{
  text-align: center;
  white-space: nowrap;
}

.dow-temp-max
{
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
}

.dow .image
{
  text-align: center;
  margin: -10px;
  width: 80px;
}

/* hour sections */

.hour
{
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px 7px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

  background-color: var(--button-color);
  cursor: pointer;
}

.hour:hover
{
  background-color: var(--button-color-hover);
}

.hour > div
{
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
}

.hour > div:last-child
{
  justify-content: flex-end;
}

.hour-title
{
  width: 70px;
  text-align: right;
}

.hour-temp
{
  width: 40px;
  text-align: right;
  white-space: nowrap;
}

.hour .image
{
  text-align: center;
  margin: -10px -5px;
  height: 40px;
}

.hour-description
{
  flex-grow: 1;
}

.hour-precipitation-probability
{
  width: 60px;
  text-align: left;
  white-space: nowrap;
}

.hour-wind
{
  display: flex;
  gap: 5px;
  width: 130px;
  justify-content: left;
}

.hour-fold-button
{
  margin-right: 4px;
  width: 10px;
  text-align: center;
}

.hour-folded
{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.hour-folded > div
{
  text-align: center;
  flex: 1 1 0px;
  background-color: var(--box-color);
  white-space: nowrap;
}

.hour-folded > div > div
{
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .hour-folded > div
  {
    flex: 1 1 45%;
  }
}

.uv-index-no-risk
{
}

.uv-index-low
{
  color: #00ff00;
}

.uv-index-moderate
{
  color: yellow;
}

.uv-index-high
{
  color: orange;
}

.uv-index-very-high
{
  color: red;
}

.uv-index-extreme
{
  color: violet;
}

/* image */

.image
{
  aspect-ratio: 1/1;
  background-size: contain;
}

.section.clear .image,
.section.mainly-clear .image
{
  background-image: url('../images/conditions/clear-day.png')
}

.section.clear.night .image,
.section.mainly-clear.night .image
{
  background-image: url('../images/conditions/clear-night.png')
}

.section.cloudy .image
{
  background-image: url('../images/conditions/cloudy-day.png')
}

.section.cloudy.night .image
{
  background-image: url('../images/conditions/cloudy-night.png')
}

.section.overcast .image
{
  background-image: url('../images/conditions/overcast.png')
}

.section.fog .image,
.section.depositing-rime-fog .image
{
  background-image: url('../images/conditions/fog.png')
}

.section.drizzle-light .image,
.section.drizzle .image,
.section.drizzle-dense .image,
.section.freezing-drizzle-light .image,
.section.freezing-drizzle-dense .image
{
  background-image: url('../images/conditions/drizzle.png')
}

.section.rain-slight .image,
.section.rain .image,
.section.rain-dense .image,
.section.freezing-rain-light .image,
.section.freezing-rain-dense .image,
.section.rain-showers-slight .image,
.section.rain-showers .image,
.section.rain-showers-violent .image
{
  background-image: url('../images/conditions/rain-day.png')
}

.section.rain-slight.night .image,
.section.rain.night .image,
.section.rain-dense.night .image,
.section.freezing-rain-light.night .image,
.section.freezing-rain-dense.night .image,
.section.rain-showers-slight.night .image,
.section.rain-showers.night .image,
.section.rain-showers-violent.night .image
{
  background-image: url('../images/conditions/rain-night.png')
}

.section.snow-slight .image,
.section.snow .image,
.section.snow-heavy .image,
.section.snow-grains .image,
.section.snow-showers-slight .image,
.section.snow-showers-heavy .image
{
  background-image: url('../images/conditions/snow.png')
}

.section.thunderstorm .image,
.section.thunderstorm-hail .image
{
  background-image: url('../images/conditions/thunderstorm.png')
}

/*

Target all images:
  .section.<classes> .image

Target only the large image of the current section:
  #current.<classes> .image

Target whole page:
  body.<classes>
The body gets the same classes as the #current section


The classes:

When the moon is visible:
  .moon

Phases of the moon:
  .new-moon
  .waxing-crescent
  .first-quarter
  .waxing-gibbous
  .full-moon
  .waning-gibbous
  .third-quarter
  .waning-crescent

When it is night:
  .night

Weather conditions all listed above

*/