
/* Options */

#withr-options-section
{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.withr-options button
{
  width: 35px;
  height: 35px;
  background-color: var(--button-color);
  border: 0;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.withr-options button div
{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: invert(var(--inverse));
}

.withr-options button:hover
{
  background-color: var(--button-color-hover);
}

.withr-geolocate-button div
{
  background-image: url('../images/pin.svg')
}

.withr-search-button div
{
  background-image: url('../images/search.svg')
}

.withr-options-button div
{
  background-image: url('../images/gear.svg')
}


/* Init page */

#withr-location-links
{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#withr-location-links > a
{
  margin: 5px;
  text-align: center;
  padding: 10px;
  background-color: var(--button-color);
  text-decoration: none;
  color: inherit;
}

#withr-location-links > a:hover
{
  background-color: var(--button-color-hover);
}


/* top section containing current section */

#withr-top
{
  display: flex;
  justify-content: space-between;
}


/* current section */

#withr-current
{
  margin-bottom: 10px;
}

.withr-current-title
{
  font-size: 26px;
  padding-left: 30px;
  font-weight: bold;
}

.withr-current-content
{
  display: flex;
  align-items: center;
}

.withr-current-details
{
  display: flex;
  gap: 20px;
  font-size: 40px;
  align-items: end;
}

.withr-current-details-line
{
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.withr-current-datetime
{
  margin-top: 5px;
  margin-left: 10px;
}

.withr-current-wind
{
  display: flex;
  gap: 5px;
  font-size: 20px;
}

#withr-current .withr-condition-image
{
  margin: -15px 0;
  width: 100px;
}

.withr-current-description
{
  padding-left: 20px;
  font-size: 22px;
}


/* Day of week section */

#withr-dow-row
{
  display: flex;
  gap: 4px;
  overflow-x: auto;
  overflow-y: hidden;
}

.withr-dow-day
{
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

  background-color: var(--button-color);
  cursor: pointer;

  border-bottom: 4px solid var(--button-color);
}

.withr-dow-day:hover
{
  background-color: var(--button-color-hover);
  border-bottom-color: var(--button-color-hover);
}

.withr-dow-day-selected
{
  border-bottom-color: rgb(255, 187, 0);
}

.withr-dow-day-selected:hover
{
  border-bottom-color: rgb(255, 187, 0);
}

.withr-dow-title
{
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
}

.withr-dow-title:lang(got-Goth)
{
  font-size: 14px;
}

.withr-dow-lower
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.withr-dow-temp
{
  text-align: center;
  white-space: nowrap;
}

.withr-dow-temp-max
{
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
}

.withr-dow .withr-condition-image
{
  text-align: center;
  margin: -10px;
  width: 80px;
}

/* hour sections */

.withr-hour
{
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px 7px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

  background-color: var(--button-color);
  cursor: pointer;
}

.withr-hour:hover
{
  background-color: var(--button-color-hover);
}

.withr-hour > div
{
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
}

.withr-hour > div:last-child
{
  justify-content: flex-end;
}

.withr-hour-title
{
  width: 70px;
  text-align: right;
}

.withr-hour-temp
{
  width: 40px;
  text-align: right;
  white-space: nowrap;
}

.withr-hour .withr-condition-image
{
  text-align: center;
  margin: -10px -5px;
  height: 40px;
}

.withr-hour-description
{
  flex-grow: 1;
}

.withr-hour-precipitation-probability
{
  width: 60px;
  text-align: left;
  white-space: nowrap;
}

.withr-hour-wind
{
  display: flex;
  gap: 5px;
  width: 130px;
  justify-content: left;
}

.withr-hour-fold-button
{
  margin-right: 4px;
  width: 10px;
  text-align: center;
}

.withr-hour-folded
{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.withr-hour-folded > div
{
  text-align: center;
  flex: 1 1 0px;
  background-color: var(--box-color);
  white-space: nowrap;
}

.withr-hour-folded > div > div
{
  margin: 5px;
}

@media only screen and (max-width: 700px) {
  .withr-hour-folded > div
  {
    flex: 1 1 45%;
  }
}

.withr-uv-index-no-risk
{
}

.withr-uv-index-low
{
  color: #00ff00;
}

.withr-uv-index-moderate
{
  color: yellow;
}

.withr-uv-index-high
{
  color: orange;
}

.withr-uv-index-very-high
{
  color: red;
}

.withr-uv-index-extreme
{
  color: violet;
}

/* image */

.withr-condition-image
{
  aspect-ratio: 1/1;
  background-size: contain;
}

.withr-section-condition-clear.withr-section-tod-day .withr-condition-image,
.withr-section-condition-mainly-clear.withr-section-tod-day .withr-condition-image
{
  background-image: url('../images/conditions/clear-day.png')
}

.withr-section-condition-clear.withr-section-tod-night .withr-condition-image,
.withr-section-condition-mainly-clear.withr-section-tod-night .withr-condition-image
{
  background-image: url('../images/conditions/clear-night.png')
}

.withr-section-condition-cloudy.withr-section-tod-day .withr-condition-image
{
  background-image: url('../images/conditions/cloudy-day.png')
}

.withr-section-condition-cloudy.withr-section-tod-night .withr-condition-image
{
  background-image: url('../images/conditions/cloudy-night.png')
}

.withr-section-condition-overcast .withr-condition-image
{
  background-image: url('../images/conditions/overcast.png')
}

.withr-section-condition-fog .withr-condition-image,
.withr-section-condition-depositing-rime-fog .withr-condition-image
{
  background-image: url('../images/conditions/fog.png')
}

.withr-section-condition-drizzle-light .withr-condition-image,
.withr-section-condition-drizzle .withr-condition-image,
.withr-section-condition-drizzle-dense .withr-condition-image,
.withr-section-condition-freezing-drizzle-light .withr-condition-image,
.withr-section-condition-freezing-drizzle-dense .withr-condition-image
{
  background-image: url('../images/conditions/drizzle.png')
}

.withr-section-condition-rain-slight.withr-section-tod-day .withr-condition-image,
.withr-section-condition-rain.withr-section-tod-day .withr-condition-image,
.withr-section-condition-rain-dense.withr-section-tod-day .withr-condition-image,
.withr-section-condition-freezing-rain-light.withr-section-tod-day .withr-condition-image,
.withr-section-condition-freezing-rain-dense.withr-section-tod-day .withr-condition-image,
.withr-section-condition-rain-showers-slight.withr-section-tod-day .withr-condition-image,
.withr-section-condition-rain-showers.withr-section-tod-day .withr-condition-image,
.withr-section-condition-rain-showers-violent.withr-section-tod-day .withr-condition-image
{
  background-image: url('../images/conditions/rain-day.png')
}

.withr-section-condition-rain-slight.withr-section-tod-night .withr-condition-image,
.withr-section-condition-rain.withr-section-tod-night .withr-condition-image,
.withr-section-condition-rain-dense.withr-section-tod-night .withr-condition-image,
.withr-section-condition-freezing-rain-light.withr-section-tod-night .withr-condition-image,
.withr-section-condition-freezing-rain-dense.withr-section-tod-night .withr-condition-image,
.withr-section-condition-rain-showers-slight.withr-section-tod-night .withr-condition-image,
.withr-section-condition-rain-showers.withr-section-tod-night .withr-condition-image,
.withr-section-condition-rain-showers-violent.withr-section-tod-night .withr-condition-image
{
  background-image: url('../images/conditions/rain-night.png')
}

.withr-section-condition-snow-slight .withr-condition-image,
.withr-section-condition-snow .withr-condition-image,
.withr-section-condition-snow-heavy .withr-condition-image,
.withr-section-condition-snow-grains .withr-condition-image,
.withr-section-condition-snow-showers-slight .withr-condition-image,
.withr-section-condition-snow-showers-heavy .withr-condition-image
{
  background-image: url('../images/conditions/snow.png')
}

.withr-section-condition-thunderstorm .withr-condition-image,
.withr-section-condition-thunderstorm-hail .withr-condition-image
{
  background-image: url('../images/conditions/thunderstorm.png')
}
